<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>データベース登録</title>
    </head>
    <body>
        <h2>入力フォーム</h2>
        <form method="POST" action="{{ url_for('register') }}">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>種別</th>
                <th>名前</th>
                <th>長さ</th>
                <th>写真</th>
            </tr>
            <tr>
                <td><input type="text" name="id" value={{ input_train.id }}></td>
                <td>
                    {% if input_train.type == "機関車" %}
                    <input type="radio" id="r1" name="type" value="機関車" checked><label for="r1">:機関車</label>
                    {% else %}
                    <input type="radio" id="r1" name="type" value="機関車"><label for="r1">:機関車</label>
                    {% endif %}
                    {% if input_train.type == "貨車" %}
                    <input type="radio" id="r2" name="type" value="貨車" checked><label for="r2">:貨車</label>
                    {% else %}
                    <input type="radio" id="r2" name="type" value="貨車"><label for="r2">:貨車</label>
                    {% endif %}
                    {% if input_train.type == "客車" %}
                    <input type="radio" id="r3" name="type" value="客車" checked><label for="r3">:客車</label>
                    {% else %}
                    <input type="radio" id="r3" name="type" value="客車"><label for="r3">:客車</label>
                    {% endif %}

                </td>
                <td><input type="text" name="name" value={{ input_train.name }}></td>
                <td><input type="text" name="length" value={{ input_train.length }}></td>
                <td><input type="text" name="picture" value={{ input_train.picture }}></td>
            </tr>
        </table>
        <input type="submit" value="登録">
        </form>
        <h3>メッセージ ->{{ msg_error }}</h3>
        {% if trains == [] %}
            <p> 登録 機関車なし </p>
        {% else %}

        <h2>登録 車輛</h2>
        <form method = "POST"></form>
        <table border="1">
            <tr>
                <form method="POST" action="sort">
                <th>TagID
                    <button type = "Submit" name = "sort" value = "id_up" formaction="/id_up/sort">↑</button>
                    <button type = "Submit" name = "sort" value = "id_down" formaction="/id_down/sort">↓</button>
                </th>
                <th>種別
                    <button type = "Submit" name = "sort" value = "type_up" formaction="/type_up/sort">↑</button>
                    <button type = "Submit" name = "sort" value = "type_down" formaction="/type_down/sort">↓</button>
                </th>
                <th>名前
                    <button type = "Submit" name = "sort" value = "name_up" formaction="/name_up/sort">↑</button>
                    <button type = "Submit" name = "sort" value = "name_down" formaction="/name_down/sort">↓</button>
                </th>
                <th>長さ
                    <button type = "Submit" name = "sort" value = "length_up" formaction="/length_up/sort">↑</button>
                    <button type = "Submit" name = "sort" value = "length_down" formaction="/length_down/sort">↓</button>
                </th>            
                <th>画像</th>            
                <th>操作</th>
                </form>
            </tr>
            {% for train in trains %}
                <tr>
                    <td>{{ train.id }}</td>
                    <td>{{ train.type }}</td>
                    <td>{{ train.name }}</td>
                    <td>{{ train.length }}</td>
                    <td>{{ train.picture }}</td>
                    <td>
                        <form method="POST" action="ClearOrChange">
                        <button type = "Submit" name = "action" value = "Del:{{ train.id }}" formaction="/{{train.id}}/clear">削除</button>
                        <button type = "Submit" name = "change" value = "Chg:{{ train.id }}" formaction="/{{train.id}}/change">変更</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>