{% extends "bootstrap/base.html" %}

{% block title %}Shoji@ Märklin{% endblock %}

{% block navigation %}
<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('index')}}">Home</a></li>
<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">About</a></li>
<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('database')}}">DataBase</a></li>
<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('productdata')}}">ProductData</a></li>
{% endblock %}

<title>データベース登録</title>
    </head>
    <body>
        <h2>TagとTrainIDの関連付け</h2>
        <form method="POST" action="{{ url_for('register') }}">
        <table border="1">
            <tr>
                <th>TagID</th>
                <th>TrainID</th>
                <th>ProductNo</th>
                <th>Type</th>
                <th>name</th>
                <th>length</th>
                <th>picture</th>
            </tr>
            <tr>
                <td><input type="text" name="Tagid" value={{ input_train.tagid }}></td>
                <td><input type="text" name="Trainid" value={{ input_train.Trainsid }}></td>
                <td><input type="text" name="Productno" value={{ input_train.product_no }}></td>
                <td>
                    {% if input_train.type == "機関車" %}
                    <input type="radio" id="r1" name="type" value="機関車" checked><label for="r1">:機関車</label>
                    {% else %}
                    <input type="radio" id="r1" name="type" value="機関車"><label for="r1">:機関車</label>
                    {% endif %}
                    {% if input_train.type == "貨車" %}
                    <input type="radio" id="r2" name="type" value="貨車" checked><label for="r2">:貨車</label>
                    {% else %}
                    <input type="radio" id="r2" name="type" value="貨車"><label for="r2">:貨車</label>
                    {% endif %}
                    {% if input_train.type == "客車" %}
                    <input type="radio" id="r3" name="type" value="客車" checked><label for="r3">:客車</label>
                    {% else %}
                    <input type="radio" id="r3" name="type" value="客車"><label for="r3">:客車</label>
                    {% endif %}
                </td>
                <td><input type="text" name="name" value={{ input_train.name }}></td>
                <td><input type="text" name="length" value={{ input_train.length }}></td>
                <td><input type="text" name="picture" value={{ input_train.picture }}>
                    <img src = "/static/img/{{ input_train.picture }} alt="[static/img/{{ input_train.picture }}] ???">
                </td>
            </tr>
        </table>
        <input type="submit" value="検索" formmethod="post" formaction="/trainserch">
        <input type="submit" value="登録">
        </form>
        <h3>メッセージ ->{{ msg_error }}</h3>

        {% if trains == [] %}
            <p> 登録 機関車なし </p>
        {% else %}
        <h2>登録 車輛</h2>
        <form method = "POST"></form>
        <table border="1">
            <tr>
                <form method="POST" action="sort">
                <th>TagID<br>
                    <button type = "Submit" name = "sort" value = "id_up" formaction="/id_up/sort">↑</button>
                    <button type = "Submit" name = "sort" value = "id_down" formaction="/id_down/sort">↓</button>
                </th>
                <th>TrainID<br>
                    <button type = "Submit" name = "sort" value = "trainid_up" formaction="/trainid_up/sort">↑</button>
                    <button type = "Submit" name = "sort" value = "trainid_down" formaction="/trainid_down/sort">↓</button>
                </th>
                <th>ProductNo<br>
                    <button type = "Submit" name = "sort" value = "product_up" formaction="/product_up/sort">↑</button>
                    <button type = "Submit" name = "sort" value = "product_down" formaction="/product_down/sort">↓</button>
                </th>
                <th>type
                    <button type = "Submit" name = "sort" value = "type_up" formaction="/type_up/sort">↑</button>
                    <button type = "Submit" name = "sort" value = "type_down" formaction="/type_down/sort">↓</button><br>
                    <input type="checkbox" id="c1" name="機関車" checked><label for="r1">:機関車</label><br>
                    <input type="checkbox" id="c2" name="貨車" checked><label for="r2">:貨車</label>
                    <input type="checkbox" id="c3" name="客車" checked><label for="r3">:客車</label>
                </th>
                <th>name<br>
                    <button type = "Submit" name = "sort" value = "name_up" formaction="/name_up/sort">↑</button>
                    <button type = "Submit" name = "sort" value = "name_down" formaction="/name_down/sort">↓</button>
                </th>
                <th>length<br>
                    <button type = "Submit" name = "sort" value = "length_up" formaction="/length_up/sort">↑</button>
                    <button type = "Submit" name = "sort" value = "length_down" formaction="/length_down/sort">↓</button>
                </th>
                <th>picture</th>            
                <th>control</th>
                    <br></th>
                </form>
            </tr>
            {% for train in trains %}
                <tr>
                    <td>{{ train.tagid }}</td>
                    <td>{{ train.trainid }}</td>
                    <td>{{ train.product_no }}</td>
                    <td>{{ train.type }}</td>
                    <td>{{ train.name }}</td>
                    <td>{{ train.length }}</td>
                    <td>{{ train.picture }}
                        <img src = "C:\Users\s_shi\Documents\git\Marklin_Control\static\img\23.jpg" alt="[static/img/{{ train.picture }}] ???">
                    </td>
                    <td>
                        <form method="POST" action="ClearOrChange">
                        <button type = "Submit" name = "action" value = "Del:{{ train.tagid }}" formaction="/{{train.tagid}}/clear">削除</button>
                        <button type = "Submit" name = "change" value = "Chg:{{ train.tagid }}" formaction="/{{train.tagid}}/change">変更</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>